#menu {
	align-items: center;
}

#menu a {
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: black;
}

#menu a:hover,
#menu a.active {
	color: black;
	background-color: #e9ebee;
}

.dropdown-menu {
	z-index: 1060 !important;
	/* Больше, чем у navbar */
}

#alert {
	position: fixed;
	top: 10px;
	right: 0;
	z-index: 10000;
	padding: 12px 24px;
	font-weight: 500;
	font-size: 14px;
	white-space: nowrap;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 10;
	animation: slideInRight 0.3s ease-out
}

#notFoundPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	text-align: center;
	font-family: Arial, sans-serif
}

 .table-container {
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      background-color: white;
    }

    .table th {
      background-color: #495057;
      color: white;      
    }

    .table tbody tr {
      transition: background-color 0.2s ease;
    }

    .table tbody tr:hover {
      background-color: #f1f3f5 !important;
    }

    .table tbody td {
      padding: 12px 15px;
      vertical-align: middle;
    }

    .btn-sm {
      font-size: 0.85rem;
      padding: 6px 10px;
    }