#menu {
    align-items: center; 
}

#menu a {
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: black;
}
#menu a:hover, #menu a.active {
	color: black;	
	background-color: #e9ebee;
}

.dropdown-menu {
  z-index: 1060 !important; /* Больше, чем у navbar */
}